<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>轮播图</title>
</head>
<body>
    <!--<div class="ui-swipper-container">-->
        <!--<div class="ui-swipper-img-container">-->
            <!--<img src="./img/1.jpeg" alt="">-->
            <!--<img src="./img/2.jpeg" alt="">-->
            <!--<img src="img/3.jpeg" alt="">-->
            <!--<img src="./img/4.jpeg" alt="">-->
            <!--<img src="./img/5.jpeg" alt="">-->
        <!--</div>-->
        <!--<div class="ui-swipper-button-container">-->
            <!--<span data-index="1" class="ui-swipper-button-select"></span>-->
            <!--<span data-index="1"></span>-->
            <!--<span data-index="1"></span>-->
            <!--<span data-index="1"></span>-->
            <!--<span data-index="1"></span>-->
        <!--</div>-->
        <!--<span class="ui-swipper-prev">&lt;</span>-->
        <!--<span class="ui-swipper-next">&gt;</span>-->
    <!--</div>-->
<script src="index.js"></script>
<script>
    swipper.init(5);  //传入参数控制要显示的图片数量
</script>
</body>
</html>